extends layout.pug
block content
  include errors.pug
  form(action="/user/changePassword", method="post")
    div.form-group
      label Текущий пароль
      input.form-control(type="text", name="oldPassword")
    div.form-group
      label Новый пароль
      input.form-control(type="text", name="newPassword")
    div.form-group
        label Какой пароль сбрасываем?
        select.form-control(name="type")
          option(value="0", selected=true) обычный пароль
          option(value="1") финансовый пароль
    button.btn.btn-default(type="submit") Сбросить
