extends layout.pug
block content
  div: a.btn.btn-default(href='/user/note') Добавить заметку
     
  table.table.table-striped
    thead
      tr
        th Заголовок
        th Тело
        th Действие
        
    tbody
      if notes  
        for note in notes
          tr
            td!= note.title
            td!= note.body
            td: a(href=`/user/note/${note._id}/delete`) Удалить
              
