extends layout.pug
block content
  form(action="user/resetPassword", method="post")
    div.form-group
      label Имя пользователя
      input.form-control(type="text", name="username")    
    div.form-group
        label Какой пароль сбрасываем?
        select.form-control(name="type")
          option(value="0", selected=true) обычный пароль
          option(value="1") финансовый пароль
    button.btn.btn-default(type="submit") Сбросить
